{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist">
            <a href="{{ base_path }}/" style="display: inline-block; line-height: 1.35;">
              <span style="display: block; font-weight: 700;">YueWu's HOME</span>
              <span style="display: block; margin-top: 4px; font-size: 0.84em; font-weight: 400; opacity: 0.9;">{{ site.motto }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
